{% extends 'base.html.twig' %}

{% block title %}Guest {% endblock %}
{% block head_css %}

    <!-- Copy CSS from https://getbootstrap.com/docs/4.4/getting-started/introduction/#css -->
{% endblock %}
{% block head_js %}
   <!-- Copy JavaScript from https://getbootstrap.com/docs/4.4/getting-started/introduction/#js -->
{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
    {% endfor %}

<div class="container">
    <div class="row">
        <a class="btn btn-success float-md-left"  onClick="window.history.back();">
           Go Back
        </a>
        </div>
    {% if app.user %}
        <div class="mb-3">
            <a class="btn btn-danger float-right" href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="card  border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.author) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
